<h1>New Message</h1>

<%= form_with model: [@message.room, @message] do |form| %>
  <div class="field">
    <%= form.text_field :content %>
    <%= form.submit "Send" %>
  </div>
<% end %>

<div>
  <%= link_to "Back", @message.room %>
</div>
