<li id="<%= dom_id(room) %>" class="list-group-item d-flex justify-content-between align-items-center">
  <div class="ms-2 me-auto">
    <strong class="fs-4">
      <%= link_to room.name, room %>
    </strong>
  </div>
  <span class="fs-2">💬</span>
</li>
