<div class="btn-group btn-group-sm mt-2 float-end" role="group" aria-label="Rooms Actions">
  <%= link_to "⬅️ Back", @room, class: 'btn btn-outline-primary' %>
</div>

<h1>Editing Room</h1>

<%= render "form", room: @room %>
