<div class="btn-group btn-group-sm mt-2 float-end" role="group" aria-label="Rooms Actions">
  <%= link_to "⬅️ Back", rooms_path, class: 'btn btn-outline-primary' %>
</div>

<h1>New room</h1>

<%= render "form" , room: @room %>
