<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="https://lamby.custominktech.com/img/lamby-logo-small.png" alt="Lamby Logo" height="70">
    <h1 class="display-5 fw-bold text-body-emphasis">
      Lamby WebSocket Demo
    </h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">
        To login and start you unique WebSocket session, click the start button below. You will be assigned a unique session with a random name.
      </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <%= button_to 'Start Session', login_path, class: 'btn btn-primary btn-lg px-4 gap-3' %>
      </div>
    </div>
</div>
